{% load static %}
<nav class="navbar navbar-expand-lg navbar-info bg-info fixed-top px-3">
  <div class="container-fluid">
    <img
      src="{% static 'images/logo.png' %}"
      alt="logo"
      width="30"
      height="24"
      class="d-inline-block align-text-top"
    />
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Home</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'create-task' %}">New Task</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Profile
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="#">Account Settings</a>
            </li>
            <li>
              <a class="dropdown-item" href="{% url 'change-password' %}"
                >Change Passcode</a
              >
            </li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
            </li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'login' %}"
            >Login</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="{% url 'register' %}"
            >Register</a
          >
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>
