{% extends 'main/main.html' %} {% block content %}
<title>Home | tasks | ToDO</title>
<div class="row">
  <h1>Home</h1>
  <p>Hello, {{ user.username }}!</p>
  <p>Here are your tasks:</p>
  <!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>User Tasks</title>
    </head>
    <body>
      <h1>User Tasks</h1>
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Due Date</th>
            <th>Priority</th>
            <th>Tags</th>
          </tr>
        </thead>
        <tbody>
          {% for task in tasks %}
          <tr>
            <td>
              <a href="{% url 'task_details' task.id %}">{{ task.title }}</a>
            </td>
            <td>{{ task.description }}</td>
            <td>{{ task.due_date }}</td>
            <td>{{ task.priority }}</td>
            <td></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </body>
  </html>
</div>

{% endblock content %}
