{% extends 'main/main.html' %} {% load static %} {% block content %}
<title>Sign In | ToDO</title>
<div class="row">
  <div class="mx-auto" style="width: 400px">
    <div class="row">
      <div class="col-sm-12 text-center">
        <img
          src="{% static 'images/logo.png' %}"
          alt="logo"
          class="img-fluid mx-auto w-25"
        />
      </div>
    </div>
    <h1 class="text-center">Sign in</h1>

    <form method="post">
      {% csrf_token %}
      <!-- Email input -->
      <div class="form-floating mb-4">
        <input
          type="text"
          class="form-control"
          id="floatingInput"
          name="username"
          placeholder="name@example"
        />
        <label for="floatingInput">Username</label>
      </div>
      <div class="form-floating mb-4">
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Password"
        />
        <label for="password">Password</label>
      </div>
      <!--Show Password-->
      <div class="text-center">
        <input type="checkbox" id="show-password" />
        <label class="mb-3" for="show-password">Show password</label>
        <br />
      </div>
      <!-- 2 column grid layout for inline styling -->
      <div class="row mb-4">
        <div class="col d-flex justify-content-center">
          <!-- Checkbox -->
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="form2Example31"
              checked
            />
            <label class="form-check-label" for="form2Example31">
              Remember me
            </label>
          </div>
        </div>

        <div class="col">
          <!-- Simple link -->
          <a href="{% url 'reset_password' %}">Forgot password?</a>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block w-100 mb-4">
        Sign in
      </button>

      <!-- Register buttons -->
      <div class="text-center">
        <p>Dont have an account? <a href="{% url 'register' %}">Register</a></p>
      </div>
    </form>
  </div>
</div>
{% endblock content %}
