{% extends 'main/main.html' %} {% block content %}
<a href="{% url 'update_task' object.id %}">Update</a>
<a href="{% url 'delete_task' object.id %}">Delete</a>
<h1>Task Details</h1>
<h2>{{ object.title }}</h2>
<p>Description: {{ object.description }}</p>
<p>Complete: {{ object.complete }}</p>
<p>Created: {{ object.created }}</p>
<p>Due Date: {{ object.due_date }}</p>
<p>Priority: {{ object.priority }}</p>
<p>Completed Date: {{ object.completed_date }}</p>
{% if object.tag %}
<p>Tag: {{ object.tag.name }}</p>
{% else %}
<p>No tag associated with this object.</p>
{% endif %} {% if remaining_time %}
<p>Remaining Time: {{ remaining_time }}</p>
{% endif %} {% endblock %}
