{% extends "main/main.html" %} {% load static %} <br />
{% load crispy_forms_tags %}{% block content %}
<title>Change Password</title>
<div class="container">
  <div class="row">
    <div class="mx-auto" style="width: 400px">
      <h3>
        Change Password
        <a class="fs-6" href="{% url 'home' %}">Abort</a>
      </h3>
      <form action="" method="post">
        {% csrf_token %} {{form|crispy}}
        <button class="btn btn-info" type="submit">Change Password</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
