<!-- Footer -->
<footer class="bg-info text-center text-light">
  <!-- Grid container -->
  <div class="container p-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.facebook.com/"
        role="button"
        ><i class="bi bi-facebook"></i
      ></a>

      <!-- Twitter -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://twitter.com/home"
        role="button"
        ><i class="bi bi-twitter"></i
      ></a>

      <!-- Google -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.google.com/"
        role="button"
        ><i class="bi bi-google"></i
      ></a>

      <!-- Instagram -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.instagram.com/"
        role="button"
        ><i class="bi bi-instagram"></i
      ></a>

      <!-- Linkedin -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/joel-ssekyanzi-b23184240/"
        role="button"
        ><i class="bi bi-linkedin"></i
      ></a>

      <!-- Github -->
      <a
        class="btn btn-outline-light btn-floating m-1"
        href="https://github.com/Ssekyanzi-Joel"
        role="button"
        ><i class="bi bi-github"></i
      ></a>
    </section>
    <!-- Section: Social media -->

    <!-- Section: Form -->
    <section class="">
      <form action="">
        <!--Grid row-->
        <div class="row d-flex justify-content-center">
          <!--Grid column-->
          <div class="col-auto">
            <p class="pt-2">
              <strong>Sign up for our newsletter</strong>
            </p>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-md-5 col-12">
            <!-- Email input -->
            <div class="form-outline form-white mb-4">
              <input type="email" id="form5Example21" class="form-control" />
              <label class="form-label" for="form5Example21"
                >Email address</label
              >
            </div>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-auto">
            <!-- Submit button -->
            <button type="submit" class="btn btn-outline-light mb-4">
              Subscribe
            </button>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </form>
    </section>
    <!-- Section: Form -->

    <!-- Section: Text -->
    <section class="mb-4">
      <p>
       This to-do website uses cookies to improve your user experience and to help us 
       understand how you interact with our site. By using this website, 
       you consent to the use of cookies in accordance with our Privacy Policy. 
       You can manage your cookie preferences at any time in your browser settings.
      </p>
    </section>
    <!-- Section: Text -->

    <!-- Section: Links -->
    <section class="">
      <!--Grid row-->
      <div class="row">
        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->

        <!--Grid column-->
       

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2)">
    © 2023 Copyright:
    <a class="text-white" >Group 9</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->
